{
	"openai": {
		"key": "",
		"model": "gpt-4o-mini",
		"color": "cyanish",
		"color_code": "#2AA198"
	},
	"anthropic": {
		"key": "",
		"model": "claude-3-5-sonnet-20241022",
		"color": "orangish",
		"color_code": "#B58900"
	},
	"active_provider": "anthropic",
}